/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/target/classes/com/aisa/poc/ObjectComparator$1Person.class
/target/classes/com/aisa/poc/ObjectComparator.class
/.idea/runConfigurations.xml
/.idea/vcs.xml
